/Score/snippet-map--1047702810.ly
/Score/#preliminaries-book.tex#
/Score/.#preliminaries-book.tex
/Score/dir/03/
/Score/dir/30/
/Score/dir/*
/Score/preliminaries-book.aux
/Score/preliminaries-book.log
/Score/preliminaries-book.lytex~
/Score/preliminaries-book.pdf
/Score/out/
/Score/snippet-map--351004872.ly
/Score/snippet-map-844786473.ly
/Score/snippet-map-850318943.ly
/Score/snippet-names--1047702810.ly
/Score/snippet-names--351004872.ly
/Score/snippet-names-844786473.ly
/Score/snippet-names-850318943.ly
/Score/test.bat~
/Score/title.aux
/Score/title.log
/Score/title.pdf
/Score/title.synctex.gz(busy)
/flute_piece_heart_rate/data/counterMvmt2.txt~
/flute_piece_heart_rate/patchers/#Pulse.maxpat#
/texput.log
/waterdrop_compressed.aup
/waterdrop_compressed_data/
